<h1>Home</h1>

<p>
    <%- if user_signed_in? %>
        Greetings <%= current_user.name %>
        [<%= link_to "sign out", signout_path %>]
      <ul>
        <% @calendars.items.each do |calendar| %>
            <li><%= calendar["summary"] %></li>
        <% end %>
      </ul>
    <% else %>
        [<%= link_to "sign in", signin_path %>]
    <% end %>
</p>